.cartao .cartao-1 {
  width: 150px;
  height: 80px;
  border-radius: 200px 200px 0 0 ;
  border-left: solid 2px #b8b8b8;
  border-top: solid 2px #b8b8b8;
  border-right: solid 2px #b8b8b8;
}

.cartao .cartao-2 {
  width: 150px;
  border-left: solid 2px #b8b8b8;
  border-right: solid 2px #b8b8b8;
  text-align:center;
}

.cartao .cartao-3 {
  width: 150px;
  height: 80px;
  border-radius: 0 0 200px 200px;
  border-left: solid 2px #b8b8b8;
  border-bottom: solid 2px #b8b8b8;
  border-right: solid 2px #b8b8b8;
}
