<main>
  <section>
    <div>
      <div>
        <h2>Sobre Nós</h2>
        <p>Seja bem vinda ao Donna Salão!</p>
        <p>
          Sofisticação e modernidade, com o talento dos melhores e experientes
          profissionais do setor. O salão foi concebido para oferecer serviços
          voltados à beleza feminina. Buscamos proporcionar uma experiência
          completa de saúde e bem-estar, que começa no atendimento e vai até o
          resultado final para transformar a visita do cliente em um momento
          prazeroso. Aqui você encontra uma equipe treinada e capacitada para
          cuidar, orientar e ensinar como cuidar dos seus cabelos não só de uma
          forma técnica, mas sim, com todo amor que ele merece.
        </p>
      </div>
      <div>
        <img src="./pexels-photo-8467970.jpeg" width="20%" />
      </div>
    </div>
  </section>

  <section>
    <div>
      <div>
        <h2>Equipe</h2>
        <p>
          A equipe do Donna Salão tem a mesma pluralidade dos nossos clientes:
          cada um com seu jeito, mas com um propósito único de fazer com que as
          pessoas saiam do espaço se reencontrando e se amando.
        </p>
        <p>
          Todo o processo do Donna, desde o agendamento, até o ensaio
          fotográfico é pensado para que as clientes tenham uma experiência
          apaixonate, principalmente por saber que, por trás de toda beleza,
          existe uma história para contar.
        </p>
      </div>
      <div>
        <div>
          <h2>Clarice Campos</h2>
          <p>Cabeleireira Especialista em Visagismo e Coloração Capilar</p>
        </div>

        <div>
          <h2>Teresa Maria</h2>
          <p>Cabeleireira Especialista em Terapia Capilar</p>
        </div>

        <div>
          <h2>Serena Souza</h2>
          <p>Hair Stylist e Sobrancelha</p>
        </div>

        <div>
          <h2>Olivia Maldonato</h2>
          <p>Maquiadora</p>
        </div>

        <div>
          <h2>Madalena Silva</h2>
          <p>Manicure Especialista em alongamento, blindagem e banho de gel</p>
        </div>
      </div>
    </div>
  </section>
</main>