<main id="contato">
  <div class="titulo1">
    <div>
      <h3>Respostas em até 24h</h3>
      <h1>nosso contato<span class="cor-p1">.</span></h1>
    </div>
  </div>

  <div class="contato-container">
    <section class="contato-dados" aria-label="Endereço">
      <h2>Fale com nossa equipe</h2>
      <div>
        <div class="localizacao">
          <img src="../../../../assets/img/contato/localizacao.png" width="25px">
          <p>Rua Pedroso Alvarenga, 55012 -</p>
        </div>
        <p class="contato-espaço">Itaim Bibi, São Paulo - SP, 4531012</p>
      </div>
      <address class="contato-meios">
        <div class="e-mail"><img src="../../../../assets/img/contato/email.png" width="35px"><a href="mailto:atendimento@donna.com.br">atendimento@donna.com.br</a></div>
        <div class="telefone"><img src="../../../../assets/img/contato/telefone.png" width="25px"><a href="tel:+55114000-0000">+55 11 4000-0000</a></div>
        <a  class="contato-espaço" href="tel:+551190000-0000">+55 11 90000-0000</a>
      </address>
    </section>

    <section class="contato-formulario" aria-label="Formulário">
      <form class="form">
        <div>
          <label for="nome">Nome</label>
          <input type="text" id="nome" name="nome" placeholder="Seu nome" />
        </div>
        <div>
          <label for="telefone">Telefone</label>
          <input
            type="text"
            id="telefone"
            name="telefone"
            placeholder="(11) 9999-9999"
          />
        </div>
        <div class="item-1">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="contato@email.com"
          />
        </div>
        <div class="item-1">
          <label for="mensagem">Mensagem</label>
          <textarea
            rows="5"
            id="mensagem"
            name="mensagem"
            placeholder="O que você precisa?"
          ></textarea>
        </div>
        <button>Enviar Mensagem</button>
      </form>
    </section>
  </div>
</main>

<article>
  <h1>endereço<span class="cor-p1">.</span></h1>

  <div class="endereco">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.634720968165!2d-46.67846870415962!3d-23.581380760615794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce576765cb4531%3A0x45edc014cfa38b08!2sR.%20Pedroso%20Alvarenga%20-%20Itaim%20Bibi%2C%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1spt-PT!2sbr!4v1687203501262!5m2!1spt-PT!2sbr" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="endereco-texto">
      <h3>São Paulo</h3>
      <div class="texto">
        <p>Rua Pedroso Alvarenga, 55012</p>
        <p>Itaim Bibi - SP</p>
      </div>
      <div class="texto">
        <a href="mailto:atendimento@donna.com.br">atendimento@donna.com.br</a><br>
        <a href="tel:+551190000-0000">+55 11 90000-0000</a>
      </div>
      <div class="icone-texto">
        <div class="icone">
          <img src="../../../../assets/img/contato/relogio.png" width="30px" alt="" />
          <p>Segunda à sexta das 9h às 21h</p>
        </div>
        <p class="texto-p">Sábado das 8h às 19h</p>
      </div>
    </div>
  </div>
</article>
