<main id="contato">
  <div>
    <div>
      <p>Respostas em até 24h</p>
      <h1>nosso contato<span class="cor-p1">.</span></h1>
    </div>
  </div>

  <div class="contato-container">
    <section  class="contato-dados" aria-label="Endereço">
      <h2>Fale com nossa equipe</h2>
      <div class="contato-endereco">
        <p>Rua Pedroso Alvarenga, 55012 -</p>
        <p>Itaim Bibi, São Paulo - SP, 4531012</p>
      </div>
      <address class="contato-meios">
        <a href="mailto:atendimento@donna.com.br">atendimento@donna.com.br</a>
        <a href="tel:+55114000-0000">+55 11 4000-0000</a>
        <a href="tel:+551190000-0000">+55 11 90000-0000</a>
      </address>
    </section>

    <section class="contato-formulario"  aria-label="Formulário">
      <form class="form">
        <div>
          <label for="nome">Nome</label>
          <input type="text" id="nome" name="nome" placeholder="Seu nome">
        </div>
        <div>
          <label for="telefone">Telefone</label>
          <input type="text" id="telefone" name="telefone" placeholder="(11) 9999-9999">
        </div>
        <div class="item-1">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="contato@email.com">
        </div>
        <div class="item-1">
          <label for="mensagem">Mensagem</label>
          <textarea rows="5" id="mensagem" name="mensagem" placeholder="O que você precisa?"></textarea>
        </div>
        <button class="botao">Enviar Mensagem</button>
      </form>
    </section>
  </div>
</main>

<article>
  <h2>Endereço<span class="cor-p1">.</span></h2>

  <div class="lojas-item">
    <img src="./1.png" alt="mapa marcando o endereço" />
    <div>
      <h3>São Paulo</h3>
      <div>
        <p>Rua Pedroso Alvarenga, 55012 -</p>
        <p>Itaim Bibi, São Paulo - SP, 4531012</p>
      </div>
      <div>
        <a href="mailto:atendimento@donna.com.br">atendimento@donna.com.br</a>
        <a href="tel:+551190000-0000">+55 11 90000-0000</a>
      </div>
      <p>
        <img src="./img/icones/horario.svg" alt="" />Segunda à sexta das 9h às
        21h, Sábado das 8h às 19h
      </p>
    </div>
  </div>
</article>
