.caixa-accordion{
  display: inline-block  !important;
  position: relative  !important;
}

.botao{
  display: inline-block;
  position: relative;
  outline: none;
  border-color:#f9757e;
  background: #ffffff;
  box-shadow: 0 0 0 2px #ecc0c3;
}

.corpoacc{
  border-color: #ffffff;
  background: #ffffff;
  box-shadow: 0 0 0 2px #ffffff;
}


