@import "../../../../styles.scss";

section {
  @include padding-grid(100px, 200px, 100px, 200px);
  color: #212529;
  font-family: "Roboto", serif;
  line-height: 30px;
  width: 62%;
  text-align: justify;
}

section h2 {
  padding: 45px 0px 15px 0px;
}

section p {
  padding: 8px 0px 20px 0px;
}

section li::marker {
color: #ecc0c3;
}
