<main>
  <section>
      <div>
          <h2>Procedimentos Capilares</h2>
          <p>Nossa equipe trabalha com as melhores marcas e produtos de beleza do mercado e é treinada para desenvolver todos os procedimentos capilares.É muito importante que o cabelo traduza a sua personalidade, seja ele longo, curto, liso, cacheado ou colorido:</p>
          <li>Avaliação de Cor</li>
          <li>Coloração</li>
          <li>Corte com lavagem</li>
          <li>Corte a seco</li>
          <li>Lavagem e Finalização</li>
          <li>Mechas Ombré</li>
          <li>Hidratação</li>
          <li>Penteado</li>
      </div>
      <div>
          <h2>Dia da Noiva</h2>
          <p>Esse momento único e marcante chegou e estamos honrados em fazer parte dele. Cuidaremos de cada detalhe para que você tenha uma experiência inesquecível com o Donna, os serviços oferecidos são:
          </p>
          <li>Penteado</li>
          <li>Maquiagem</li>
          <li>Manicure e Pedicure</li>
          <li>Colocação de Arranjo, véu, grinalda e flores</li>

          <p>Cortesia:</p>
          <li>Acompanhamento de hostess</li>
          <li>Refeição balanceada e frutas da época</li>
          <li>Brinde com espumante para noiva</li>
      </div>
      <div>
          <h2>Manicure e Pedicure</h2>
          <p>Temos uma seleção de esmaltes nacionais e importados e seguimos todas as normas de biossegurança:</p>
          <li>Esmaltação tradcional</li>
          <li>Alongamento de unha de gel</li>
          <li>Blindagem</li>
          <li>Podologia</li>
      </div>
      <div>
          <h2>Maquiagem</h2>
          <p>Fazemos maquiagens para todos os tipos de eventos, com os melhores produtos e marcas.Nossos profissionais são especialistas em maquiagem social ou air brush:</p>
          <li>Maquiagem Social</li>
          <li>Maquiagem Airbrush</li>
      </div>
      <div><h2>Sobrancelha</h2>
          <li>Modelagem</li>
          <li>Brow lamination</li>

      </div>
  </section>
  <section></section>
</main>
