<header>
  <section>
    <div class="menu">
      <nav aria-label="primaria">
        <ul>
          <li><a routerLink="sobre">Sobre Nós</a></li>
          <li><a routerLink="servicos">Serviços</a></li>
          <li><a routerLink="agendamento">Agendamento</a></li>
          <li><a routerLink="contato">Contato</a></li>
        </ul>
      </nav>
    </div>
    <div class="nome_marca">
      <a href="./">
        <img src="assets/img/home/marca.png" width="160" height="30" alt="Donna" />
      </a>
    </div>
    <div class="login">
      <ul>
        <li><a href="./login.html">Login</a></li>
      </ul>
    </div>
  </section>
  <section>
    <div class="texto">
      <h1>O seu cabelo em boas mãos e a sua autoestima restaurada</h1>
    </div>
    <div class="imagem"></div>
    <img src="assets/img/home/pexels-photo-4355995.jpeg" alt="" width="350px" />
  </section>
</header>

<router-outlet></router-outlet>

<footer>
  <div>
    <div>
      <img />
    </div>

    <div>
      <h3>CONTATO</h3>
      <p>(11)4000-0000</p>
      <p>(11)90000-0000</p>

      <a>Atendimento@donna.com.br</a>
      <p>Rua Pedroso Alvarenga, 55012 -</p>
      <p>Itaim Bibi, São Paulo - SP, 4531012</p>
      <p>Manobrista no local</p>
    </div>

    <div>
      <h3>SERVIÇOS</h3>
      <ul>
        <li><a>PROCEDIMENTOS CAPILARES</a></li>
        <li><a>DIA DA NOIVA</a></li>
        <li><a>MANICURE E PEDICURE</a></li>
        <li><a>MAQUIAGEM</a></li>
        <li><a>SOBRANCELHA</a></li>
      </ul>
    </div>

    <div>
      <h3>MENU</h3>
      <ul>
        <li><a>HOME</a></li>
        <li><a>SOBRE NÓS</a></li>
        <li><a>AGENDAMENTO</a></li>
        <li><a>CONTATO</a></li>
      </ul>
    </div>

    <p>Donna © 2023 - Desenvolvido por Kelly Vasconcellos</p>
  </div>
</footer>

