<header>
  <section class="container-menu">
    <div class="menu">
      <div class="nome-marca">
        <a href="./">
          <img src="assets/img/home/marca.png" width="160" height="30" alt="Donna" />
        </a>
      </div>
      <div class="menu-principal">
        <nav>
          <ul>
            <li><a routerLink="home">Home</a></li>
            <li><a routerLink="sobre">Sobre Nós</a></li>
            <li><a routerLink="servicos">Serviços</a></li>
            <li><a routerLink="agendamento">Agendamento</a></li>
            <li><a routerLink="contato">Contato</a></li>
          </ul>
        </nav>
      </div>
      <button class="botao-login">
          <p><a routerLink="login">Login</a></p>
      </button>
    </div>
    <div class="menu-texto">
      <h1 class="texto-principal">O seu cabelo em <span class="cor-p1">boas mãos</span><br> e a sua autoestima <br>restaurada</h1>
      <img src="assets/img/home/imagem3.png" width="400px" />
    </div>
  </section>
</header>

<!-- Aqui deverá rotear todos as páginas -->
<router-outlet></router-outlet>

<footer>
  <div class="footer-container">
    <div>
      <img src="assets/img/home/marca-pb.png" width="160" height="30" alt="Donna" />
    </div>

    <div class="contato">
      <h3>Contato</h3>
      <p>(11)4000-0000</p>
      <p>(11)90000-0000</p>

      <a>Atendimento@donna.com.br</a>
      <p>Rua Pedroso Alvarenga, 55012 -</p>
      <p>Itaim Bibi, São Paulo - SP, 4531012</p>
      <p>Manobrista no local</p>
    </div>

    <div class="servicos">
      <h3>Serviços</h3>
      <ul>
        <li><a>Procedimentos Capilares</a></li>
        <li><a>Dia da Noiva</a></li>
        <li><a>Manicure e Pedicure</a></li>
        <li><a>Maquiagem</a></li>
        <li><a>Sobrancelha</a></li>
        <li><a>Programa de Fidelidade</a></li>
      </ul>
    </div>

    <div class="menu-opcoes">
      <h3>Menu</h3>
      <ul>
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="sobre">Sobre Nós</a></li>
        <li><a routerLink="servicos">Serviços</a></li>
        <li><a routerLink="agendamento">Agendamento</a></li>
        <li><a routerLink="contato">Contato</a></li>
        <li><a routerLink="login">Login</a></li>
      </ul>
    </div>
  </div>
  <p class="p-footer">Donna © 2023 - Desenvolvido por Kelly Vasconcellos</p>
</footer>

