header {
  width: 100%;
  padding: 0px;
}

/* cabeçalho */

.container-menu {
  width: 100%;
  background-image: linear-gradient(to top, #acb7cf, #f6bfc4);
}
/*#f5c0c4*/

.container-menu a {
  text-decoration: none;
  color: #212529;
  font-family:'Roboto', sans-serif;
}

p {
  padding: 0;
  margin: 0;
}

.botao-login {
  color: #ffffff;
  border: none;
  border-radius: 20px;
  height: 35px;
  width: 120px;
  text-align: center;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  position: fixed;
  background-color: #ecc0c3;

}

.menu nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.menu-principal nav ul li {
  display: inline-block;
  align-items: baseline;
  list-style-type: none;
}


.menu-principal nav ul li:nth-of-type(1n+2) {
  margin-left: 75px;
}

.menu-texto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding-top: 150px;

}

.menu-texto .texto-principal {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-size: 3.75rem;
}

.cor-p1 {
  color: #ffffff;
}

footer {
  background-color: #000000;
  color: #383735;
  font-family:'Roboto', sans-serif;
}

footer h3 {
  font-family: 'Roboto Slab', serif;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 60px;
  line-height: 45px;
}

.footer-container ul li {
  list-style-type: none;
  text-decoration: none;
}

.footer-container .servicos ul{
  margin: 0;
  padding: 0;
}

.footer-container .menu-opcoes ul{
  margin: 0;
  padding: 0;
}

.footer-container .menu-opcoes ul a {
  list-style-type: none;
  text-decoration: none;
  color: #383735;
}

footer .p-footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
}


/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */
