@import '../../../styles.scss';

* {
  font-family:'Roboto', sans-serif;
}

header {
  width: 100%;
}

/* cabeçalho */

.container-menu {
  width: 100%;
  background-image: linear-gradient(to top, #acb7cf, #f6bfc4);
}

.container-menu .menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  background-color: #ecc0c3;
  @include padding-grid(0,100px,0,100px);
}

.container-menu .menu .menu-principal nav ul li {
  display: inline-block;
  align-items: baseline;
}

.container-menu .menu .menu-principal nav ul li:nth-of-type(1n+2) {
  margin-left: 75px;
}

.container-menu a {
  color: #212529;
}

.container-menu .menu .botao-login {
  border-radius: 20px;
  height: 35px;
  width: 120px;
  text-align: center;
}

.container-menu .menu-texto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @include padding-grid(150px,200px,0,200px);
}

.container-menu .menu-texto h1 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-size: 3.75rem;
}

.container-menu .menu-texto span {
  color: #ffffff;
}

/*footer*/

footer {
  background-color: #000000;
  color: #b8b8b8;
  @include padding-grid(0,100px,0,100px);
}

footer .footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0px 0px;
  line-height: 45px;
}

footer .footer-container h3 {
  font-family: 'Roboto Slab', serif;
  padding: 0px 0px 30px;
}

footer .p-footer {
  text-align: center;
  padding: 60px 0px 40px;
}


/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
margin: 10px 3px 30px 5px;  /* topo:     margem de 10px */
                            /* direita/rigth:  margem de 3px  */
                            /* inferior: margem de 30px */
                            /* esquerda/left: margem de 5px  */

