<main>
  <section>
    <div class="sobre-salao">
      <div class="nome-salao">
        <img
          class="donna"
          src="assets/img/agendamento/marca.png"
          width="180"
          alt="Donna"
        />
        <h1>Donna Salão</h1>
      </div>

      <h2>Sobre o Donna Salão</h2>
      <p>
        Não trabalhamos com agendamento telefônico, somente com agendamento
        online pelo site. Dúvidas sobre serviços e atendimento, direcionar as
        mensagens via e-mail, telefone ou formulário do site.
      </p>

      <h2>Endereço Donna Salão</h2>
      <div class="localizacao">
        <img src="assets/img/agendamento/localizacao.png" width="30" />
        <p>Rua Pedroso Alvarenga, 55012, Itaim Bibi, São Paulo - SP</p>
      </div>

      <h2>Horários de funcionamento</h2>
      <div class="funcionamento">
        <div>
          <img src="assets/img/agendamento/calendario.png" width="30" />
        </div>
        <div>
          <p>Hoje</p>
        </div>
        <div>
          <p>Segunda-Feira</p>
          <p>Terça-Feira</p>
          <p>Quarta-Feira</p>
          <p>Quinta-Feira</p>
          <p>Sexta-Feira</p>
          <p>Sábado</p>
          <p>Domingo</p>
        </div>
        <div>
          <p>09:00 - 21:00</p>
          <p>09:00 - 21:00</p>
          <p>09:00 - 21:00</p>
          <p>09:00 - 21:00</p>
          <p>09:00 - 21:00</p>
          <p>08:00 - 19:00</p>
          <p>Fechado</p>
        </div>
      </div>
    </div>
  </section>

  <section class="equipe-foto">
    <div class="equipe">
      <h2>Serviços oferecidos</h2>
      <p class="texto-equipe">Confira tudo que o Donna tem para você, clique no profissional desejado:</p>
      <div class="especialidades">
        <div>
          <img src="assets/img/agendamento/clarice.png" width="180" />
          <p>Clarice Campos</p>
        </div>
        <div>
          <img src="assets/img/agendamento/teresa.png" width="180" />
          <p>Teresa Maria</p>
        </div>
        <div>
          <img src="assets/img/agendamento/serena.png" width="180" />
          <p>Serena Souza</p>
        </div>
        <div>
          <img src="assets/img/agendamento/olivia.png" width="180" />
          <p>Olivia Maldonato</p>
        </div>
        <div>
          <img src="assets/img/agendamento/madalena.png" width="180" />
          <p>Madalena Silva</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="servicos">
      <div>
        <h3>Avaliação de Imagem</h3>
        <p>
          Consultoria para indicar o visual mais apropriado para a imagem que a
          cliente quer transmitir, o serviço inclui corte, finalização e
          coloração (caso necessário).
        </p>
        <p>A partir de</p>
        <h3>R$1.200,00</h3>
        <div>
          <button>Agendar</button>
        </div>
      </div>

      <div>
        <h3>Avaliação de Cor</h3>
        <p>
          Consultoria para determinar com o melhor procedimento de pintura de
          acordo com a estrutura do cabelo. É realizado teste de mecha para
          verificar a resistência dos fios e se a cor desejada será possível de
          acordo com o cabelo.
        </p>
        <h3>R$90,00</h3>
        <div>
          <button>Agendar</button>
        </div>
      </div>

      <div>
        <h3>Coloração</h3>
        <p>Tingimento total do cabelo.</p>
        <h3>R$500,00</h3>
        <div>
          <button>Agendar</button>
        </div>
      </div>

      <div>
        <h3>Mechas Ombré</h3>
        <p>Clareamento do cabelo por mechas, luzes e ombré.</p>
        <h3>R$650,00</h3>
        <div>
          <button>Agendar</button>
        </div>
      </div>

      <div>
        <h3>Corte</h3>
        <p>Corte, lavagem e finalização com escova.</p>
        <h3>R$200,00</h3>
        <div>
          <button>Agendar</button>
        </div>
      </div>

      <div>
        <h3>Corte a seco</h3>
        <p>
          Corte a seco, após o procedimento é realizado lavagem e finalização
          com o cabelo natural.
        </p>
        <h3>R$200,00</h3>
        <div>
          <button>Agendar</button>
        </div>
      </div>

      <div>
        <h3>Hidratação</h3>
        <p>
          Higienização, tratamento e finalização com produtos específicos para
          cada tipo de cabelo.
        </p>
        <h3>R$300,00</h3>
        <div>
          <button>Agendar</button>
        </div>
      </div>

      <div>
        <h3>Penteado</h3>
        <p>Estar com o cabelo limpo e sem produto de finalização.</p>
        <h3>R$350,00</h3>
        <div>
          <button>Agendar</button>
        </div>
      </div>

      <div>
        <h3>Dia da Noiva</h3>
        <p>
          Este pacote incluí serviços de lavagem e secagem do cabelo, penteado,
          maquiagem, modelagem de sobrancelha, manicure e pedicure, colocação de
          arranjo.
        </p>
        <h3>R$1.500,00</h3>
        <div>
          <button>Agendar</button>
        </div>
      </div>

      <div>
        <h3>Esmaltação tradicional</h3>
        <p>Mão e pé</p>
        <h3>R$60,00</h3>
        <div>
          <button>Agendar</button>
        </div>
      </div>

      <div>
        <h3>Alongamento de unha de gel</h3>
        <p>Extensão da unha e coloração</p>
        <h3>R$160,00</h3>
        <div>
          <button>Agendar</button>
        </div>
      </div>

      <div>
        <h3>Manutenção da unha de gel</h3>
        <p>Inclui coloração</p>
        <h3>R$85,00</h3>
        <div>
          <button>Agendar</button>
        </div>
      </div>

      <div>
        <h3>Blindagem</h3>
        <p>
          Película protetora de gel para reforçar as unhas, evitando quebras e
          lesões, inclui coloração.
        </p>
        <h3>R$120,00</h3>
        <div>
          <button>Agendar</button>
        </div>
      </div>

      <div>
        <h3>Podologia</h3>
        <p>Para tratamentos específicos entrar em contato.</p>
        <p>A partir de</p>
        <h3>R$120,00</h3>
        <div>
          <button>Agendar</button>
        </div>
      </div>

      <div>
        <h3>Maquiagem Social</h3>
        <p>Maquiagem manual</p>
        <h3>R$350,00</h3>
        <div>
          <button>Agendar</button>
        </div>
      </div>

      <div>
        <h3>Maquiagem Airbrush</h3>
        <p>
          Procedimento visa durabilidade e com efeito mais pesado, ideal para
          casamentos, formaturas e eventos.
        </p>
        <h3>R$650,00</h3>
        <div>
          <button>Agendar</button>
        </div>
      </div>

      <div>
        <h3>Modelagem de sobrancelha</h3>
        <p>Procedimento tradicional, remoção e desenho dos pêlos.</p>
        <h3>R$95,00</h3>
        <div>
          <button>Agendar</button>
        </div>
      </div>

      <div>
        <h3>Brow lamination</h3>
        <p>
          Técnica de alisamento e alinhamento, que deixa os fios com a impressão
          de estarem mais volumosos.
        </p>
        <h3>R$280,00</h3>
        <div>
          <button>Agendar</button>
        </div>
      </div>
    </div>
  </section>
</main>
