<main>
  <section>
    <div class="sobre-salao">
      <div class="nome-salao">
        <img
          class="donna"
          src="assets/img/agendamento/marca.png"
          width="180"
          alt="Donna"
        />
        <h1>Donna Salão</h1>
      </div>

      <h2>Sobre o Donna Salão</h2>
      <p>
        Não trabalhamos com agendamento telefônico, somente com agendamento
        online pelo site. Dúvidas sobre serviços e atendimento, direcionar as
        mensagens via e-mail, telefone ou formulário do site.
      </p>

      <h2>Endereço Donna Salão</h2>
      <div class="localizacao">
        <img src="assets/img/agendamento/localizacao.png" width="30" />
        <p>Rua Pedroso Alvarenga, 55012, Itaim Bibi, São Paulo - SP</p>
      </div>

      <h2>Horários de funcionamento</h2>
      <div class="funcionamento">
        <div>
          <img src="assets/img/agendamento/calendario.png" width="30" />
        </div>
        <div>
          <p>Hoje</p>
        </div>
        <div>
          <p>Segunda-Feira</p>
          <p>Terça-Feira</p>
          <p>Quarta-Feira</p>
          <p>Quinta-Feira</p>
          <p>Sexta-Feira</p>
          <p>Sábado</p>
          <p>Domingo</p>
        </div>
        <div>
          <p>09:00 - 21:00</p>
          <p>09:00 - 21:00</p>
          <p>09:00 - 21:00</p>
          <p>09:00 - 21:00</p>
          <p>09:00 - 21:00</p>
          <p>08:00 - 19:00</p>
          <p>Fechado</p>
        </div>
      </div>
    </div>
  </section>

  <section class="equipe-foto">
    <div class="equipe">
      <h2>Serviços oferecidos</h2>
      <p class="texto-equipe">
        Confira tudo que o Donna tem para você, clique no profissional desejado:
      </p>
      <div class="especialidades">
        <div>
          <img src="assets/img/agendamento/clarice.png" width="180" />
          <p>Clarice Campos</p>
        </div>
        <div>
          <img src="assets/img/agendamento/teresa.png" width="180" />
          <p>Teresa Maria</p>
        </div>
        <div>
          <img src="assets/img/agendamento/serena.png" width="180" />
          <p>Serena Souza</p>
        </div>
        <div>
          <img src="assets/img/agendamento/olivia.png" width="180" />
          <p>Olivia Maldonato</p>
        </div>
        <div>
          <img src="assets/img/agendamento/madalena.png" width="180" />
          <p>Madalena Silva</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="servicos-salao">
      <div>
        <div class="servico">
          <h4>Avaliação de Imagem</h4>
          <p class="descricao">
            Consultoria para indicar o visual mais apropriado para a imagem que
            a cliente quer transmitir, o serviço inclui corte, finalização e
            coloração (caso necessário).
          </p>
          <div class="preco-botao">
            <div class="preco">
              <p>A partir de &nbsp;</p>
              <h5>R$1.200,00</h5>
            </div>
            <button class="botao">Agendar</button>
          </div>
        </div>

        <div class="servico">
          <h4>Avaliação de Cor</h4>
          <p class="descricao">
            Consultoria para escolher o melhor procedimento de pintura de
            acordo com a estrutura capilar. É realizado teste de mecha para
            verificar a resistência dos fios e cor adequada.
          </p>
          <div class="preco-botao">
            <h5>R$90,00</h5>
            <button class="botao">Agendar</button>
          </div>
        </div>

        <div class="servico">
          <h4>Coloração</h4>
          <p class="descricao">Tingimento total do cabelo.</p>
          <div class="preco-botao">
            <h5>R$500,00</h5>
            <button class="botao">Agendar</button>
          </div>
        </div>

        <div class="servico">
          <h4>Mechas Ombré</h4>
          <p class="descricao">Clareamento do cabelo por mechas, luzes e ombré.</p>
          <div class="preco-botao">
            <h5>R$650,00</h5>
            <button class="botao">Agendar</button>
          </div>
        </div>

        <div class="servico">
          <h4>Corte</h4>
          <p class="descricao">Corte, lavagem e finalização com escova.</p>
          <div class="preco-botao">
            <h5>R$200,00</h5>
            <button class="botao">Agendar</button>
          </div>
        </div>

        <div class="servico">
          <h4>Corte a seco</h4>
          <p class="descricao">
            Corte a seco, após o procedimento é realizado lavagem e finalização
            com o cabelo natural.
          </p>
          <div class="preco-botao">
            <h5>R$200,00</h5>
            <button class="botao">Agendar</button>
          </div>
        </div>

        <div class="servico">
          <h4>Hidratação</h4>
          <p class="descricao">
            Higienização, tratamento e finalização com produtos específicos para
            cada tipo de cabelo.
          </p>
          <div class="preco-botao">
            <h5>R$300,00</h5>
            <button class="botao">Agendar</button>
          </div>
        </div>

        <div class="servico">
          <h4>Penteado</h4>
          <p class="descricao">Estar com o cabelo limpo e sem produto de finalização.</p>
          <div class="preco-botao">
            <h5>R$350,00</h5>
            <button class="botao">Agendar</button>
          </div>
        </div>

        <div class="servico">
          <h4>Dia da Noiva</h4>
          <p class="descricao">
            Este pacote incluí serviços de lavagem e secagem do cabelo,
            penteado, maquiagem, modelagem de sobrancelha, manicure e pedicure,
            colocação de arranjo.
          </p>
          <div class="preco-botao">
            <h5>R$1.500,00</h5>
            <button class="botao">Agendar</button>
          </div>
        </div>
      </div>

      <div>
        <div class="servico">
          <h4>Esmaltação tradicional</h4>
          <p class="descricao">Mão e pé</p>
          <div class="preco-botao">
            <h5>R$60,00</h5>
            <button class="botao">Agendar</button>
          </div>
        </div>

        <div class="servico">
          <h4>Alongamento de unha de gel</h4>
          <p class="descricao">Extensão da unha e coloração</p>
          <div class="preco-botao">
            <h5>R$160,00</h5>
            <button class="botao">Agendar</button>
          </div>
        </div>

        <div class="servico">
          <h4>Manutenção da unha de gel</h4>
          <p class="descricao">Inclui coloração</p>
          <div class="preco-botao">
            <h5>R$85,00</h5>
            <button class="botao">Agendar</button>
          </div>
        </div>

        <div class="servico">
          <h4>Blindagem</h4>
          <p class="descricao">
            Película protetora de gel para reforçar as unhas, evitando quebras e
            lesões, inclui coloração.
          </p>
          <div class="preco-botao">
            <h5>R$120,00</h5>
            <button class="botao">Agendar</button>
          </div>
        </div>

        <div class="servico">
          <h4>Podologia</h4>
          <p class="descricao">Para tratamentos específicos entrar em contato.</p>
          <div class="preco-botao">
            <div class="preco">
              <p>A partir de &nbsp;</p>
              <h5>R$120,00</h5>
            </div>
            <button class="botao">Agendar</button>
          </div>
        </div>

        <div class="servico">
          <h4>Maquiagem Social</h4>
          <p class="descricao">Maquiagem manual</p>
          <div class="preco-botao">
            <h5>R$350,00</h5>
            <button class="botao">Agendar</button>
          </div>
        </div>

        <div class="servico">
          <h4>Maquiagem Airbrush</h4>
          <p class="descricao">
            Procedimento visa durabilidade e com efeito mais pesado, ideal para
            casamentos, formaturas e eventos.
          </p>
          <div class="preco-botao">
            <h5>R$650,00</h5>
            <button class="botao">Agendar</button>
          </div>
        </div>

        <div class="servico">
          <h4>Modelagem de sobrancelha</h4>
          <p class="descricao">Procedimento tradicional, remoção e desenho dos pêlos.</p>
          <div class="preco-botao">
            <h5>R$95,00</h5>
            <button class="botao">Agendar</button>
          </div>
        </div>

        <div class="servico">
          <h4>Brow lamination</h4>
          <p class="descricao">
            Técnica de alisamento e alinhamento, que deixa os fios com a
            impressão de estarem mais volumosos.
          </p>
          <div class="preco-botao">
            <h5>R$280,00</h5>
            <button class="botao">Agendar</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
