<div class="especialidades">
  <div class="foto">
    <img src="assets/img/agendamento/clarice.png" width="180" />
    <p class="nome">Clarice Campos</p>
    <p>Cabeleireira Especialista em Visagismo e Coloração</p>
  </div>
  <div class="foto">
    <img src="assets/img/agendamento/teresa.png" width="180" />
    <p class="nome">Teresa Maria</p>
    <p>Cabeleireira Especialista em Terapia Capilar</p>
  </div>
  <div class="foto">
    <img src="assets/img/agendamento/serena.png" width="180" />
    <p class="nome">Serena Souza</p>
    <p>Hair Stylist e Sobrancelha</p>
  </div>
  <div class="foto">
    <img src="assets/img/agendamento/olivia.png" width="180" />
    <p class="nome">Olivia Maldonato</p>
    <p>Maquiadora</p>
  </div>
  <div class="foto">
    <img src="assets/img/agendamento/madalena.png" width="180" />
    <p class="nome">Madalena Silva</p>
    <p>Manicure e Podóloga</p>
  </div>
</div>
