<div class="especialidades">
  <div>
    <img src="assets/img/agendamento/clarice.png" width="180" />
    <p>Clarice Campos</p>
  </div>
  <div>
    <img src="assets/img/agendamento/teresa.png" width="180" />
    <p>Teresa Maria</p>
  </div>
  <div>
    <img src="assets/img/agendamento/serena.png" width="180" />
    <p>Serena Souza</p>
  </div>
  <div>
    <img src="assets/img/agendamento/olivia.png" width="180" />
    <p>Olivia Maldonato</p>
  </div>
  <div>
    <img src="assets/img/agendamento/madalena.png" width="180" />
    <p>Madalena Silva</p>
  </div>
</div>
