.especialidades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}


.equipe-foto .equipe .especialidades div {
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.especialidades img {
  opacity: 0.3;
}

.especialidades img:hover {
  opacity: 1;
  cursor: pointer;
}
