<main>
  <section class="caixa">
    <div class="caixa-principal">
      <h2>DONNA Salão</h2>
      <p>
        Sofisticação e modernidade, com o talento dos melhores e experientes
        profissionais do mundo da beleza.
      </p>
      <p>
        Nosso salão foi concebido para oferecer a todas as mulheres serviço de
        qualidade e bem estar voltado a beleza e cuidados com o cabelo e imagem.
        Possuímos ótima infraestrutura, com salas para dia das noivas, espaço de
        esmaltação, área de maquiagem e Hair Stylists.
      </p>
      <button class="botao">Venha nos conhecer</button>
    </div>
    <div class="caixa-img">
      <img src="assets/img/home/imagem_3.png" width="300" height="170" />
      <img src="assets/img/home/imagem_2.png" width="170" height="300" />
      <img src="assets/img/home/imagem_4.png" width="300" height="170" />
    </div>
  </section>
  <section class="diferenciais">
    <h2>Nossos Diferenciais</h2>
    <div class="itens">
      <app-forma-cartao><p>Atendimento de qualidade</p></app-forma-cartao>
      <app-forma-cartao><p>Profissionais especializados</p></app-forma-cartao>
      <app-forma-cartao><p>Tratamentos completos</p></app-forma-cartao>
      <app-forma-cartao><p>Programa de fidelidade</p></app-forma-cartao>
      <app-forma-cartao><p>Ambientes &nbsp; agradavéis</p></app-forma-cartao>
    </div>
  </section>
  <section class="destaque">
    <h2>Fomos destaques aqui</h2>
    <div class="imagens">
      <img src="assets/img/home/folha.png" alt="" width="18%" />
      <img src="assets/img/home/uol.png" alt="" width="18%" />
      <img src="assets/img/home/estadao.png" alt="" width="18%" />
      <img src="assets/img/home/forbes.png" alt="" width="18%" />
      <img src="assets/img/home/valor.png" alt="" width="18%" />
    </div>
  </section>
</main>
