<main>
  <section class="geral">
    <div class="geral-1">
      <h2>DONNA Salão</h2>
      <p>
        Sofisticação e modernidade, com o talento dos melhores e experientes profissionais do mundo da beleza.
      </p>
      <p class="geral-2">
        Nosso salão foi concebido para oferecer a todas as mulheres serviço de
        qualidade e bem estar voltado a beleza e cuidados com o cabelo e imagem.
        Possuímos ótima infraestrutura, com salas para dia das noivas, espaço de
        esmaltação, área de maquiagem e Hair Stylists.
      </p>
      <button class="botao-1">Venha nos conhecer</button>
    </div>
    <div class="geral-3">
      <img src="assets/img/home/imagem_3.png" width="300" height="170" />
      <img src="assets/img/home/imagem_2.png" width="170" height="300"  />
      <img src="assets/img/home/imagem_4.png" width="300" height="170"  />
    </div>
  </section>
  <section class="diferenciais">
    <div class="titulo">
      <h2>Nossos Diferenciais</h2>
    </div>
    <div class="itens">
      <div class="cartao">
        <img src="" alt="" />
        <p>Atendimento de qualidade ></p>
      </div>
      <div class="cartao">
        <img src="" alt="" />
        <p>Profissionais especializados ></p>
      </div>
      <div class="cartao">
        <img src="" alt="" />
        <p>Tratamentos completos ></p>
      </div>
      <div class="cartao">
        <img src="" alt="" />
        <p>Programa de fidelidade ></p>
      </div>
      <div class="cartao">
        <img src="" alt="" />
        <p>Ambiente agradável ></p>
      </div>
    </div>
  </section>
  <section class="destaque">
    <h2>Fomos destaques aqui</h2>
    <div class="imagens">
      <img src="assets/img/home/folha.png" alt="" width="18%" />
      <img src="assets/img/home/uol.png" alt="" width="18%" />
      <img src="assets/img/home/estadao.png" alt="" width="18%" />
      <img src="assets/img/home/forbes.png" alt="" width="18%" />
      <img src="assets/img/home/valor.png" alt="" width="18%" />
    </div>
  </section>
</main>
