<main>
  <section>
    <div class="geral">
      <div>
        <h2>Donna Salão</h2>
        <p>
          Sofisticação e modernidade, com o talento dos melhores e experientes
          profissionais do mundo da beleza.
        </p>
        <p>
          Nosso salão foi concebido para oferecer a todas as mulheres serviço de
          qualidade e bem estar voltado a beleza e cuidados com o cabelo e imagem.
          Possuímos ótima infraestrutura, com salas para dia das noivas, espaço de
          esmaltação, área de maquiagem e Hair Stylists.
        </p>
        <button>Venha nos conhecer</button>
      </div>
      <div>
        <img src="assets/img/home/pexels-photo-7755499.webp" width="25%" />
        <img src="assets/img/home/pexels-photo-7755549.jpeg" width="23%" />
        <img src="assets/img/home/pexels-photo-7755176.webp" width="25%" />
      </div>
    </div>
  </section>
  <section>
    <div>
      <h2>Nossos Diferenciais</h2>
    </div>
    <div>
      <div class="div">
        <img src="" alt="" />
        <p>Atendimento de qualidade ></p>
      </div>
      <div class="div">
        <img src="" alt="" />
        <p>Profissionais especializados ></p>
      </div>
      <div class="div">
        <img src="" alt="" />
        <p>Experiência de mercado ></p>
      </div>
      <div class="div">
        <img src="" alt="" />
        <p>Tratamentos completos ></p>
      </div>
      <div class="div">
        <img src="" alt="" />
        <p>Programa de fidelidade ></p>
      </div>
      <div class="div">
        <img src="" alt="" />
        <p>Ambiente agradável ></p>
      </div>
    </div>
  </section>
  <section>
    <h2>Fomos destaques aqui</h2>
    <img src="assets/img/home/folha.png" alt="" width="10%" />
    <img src="assets/img/home/uol.png" alt="" width="10%" />
    <img src="assets/img/home/estadao.png" alt="" width="10%" />
    <img src="assets/img/home/forbes.png" alt="" width="10%" />
    <img src="assets/img/home/valor.png" alt="" width="10%" />
  </section>
</main>
