@import '../../../styles.scss';

section {
  @include padding-grid(100px,200px,100px,200px);
  color: #212529;
  font-family: 'Roboto', serif;
  line-height: 30px;
}

.caixa {
  color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
}

h2 {
  padding-bottom: 30px;
}

.caixa .caixa-principal {
  width: 30%;
  text-align: justify;
}

.caixa .caixa-principal p {
  padding-bottom: 30px;
}

.caixa .caixa-principal .botao {
  background-color: #ecc0c3;
  border-radius: 20px;
  height: 40px;
  width: 250px;
  text-align: center;
  font-weight: bold;
}

.caixa .caixa-img {
  display: flex;
  justify-content: center;
  gap:30px;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
}

 /*    */

.diferenciais {
  background-color: #f0f0f0;
}

.diferenciais .itens {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  gap: 50px;
}

.destaque .imagens {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px 50px 0px;
}

/*fazer com canvas html*/
