@import "../../../../styles.scss";

section {
  @include padding-grid(100px, 200px, 0px, 200px);
  color: #212529;
  font-family: "Roboto", serif;
  line-height: 30px;
}

h5 {
  margin: 0px;
}

.negrito{
  font-weight: bold;
}

.sobre-salao {
  width: 450px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: justify;
}

.sobre-salao h2 {
  padding: 45px 0px 25px 0px;
}

.sobre-salao .nome-salao {
  display: flex;
  align-items: center;
  gap: 30px;
}

.sobre-salao .localizacao {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.sobre-salao .funcionamento {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.sobre-salao .funcionamento .func-dia-header {
  padding-right: 30px;
}

.sobre-salao .funcionamento .func-dia {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.sobre-salao .funcionamento .func-dia .func-hoje {
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
}

.sobre-salao .funcionamento .func-dia .func-dia-semana {
  display: flex;
  width: 70%;
  justify-content: space-between;
  padding-left: 20px;
  align-items: center;
}

.equipe-foto .equipe h2{
  padding: 0px 0px 30px 0px;
}

.equipe-foto .equipe p{
  padding: 0px 0px 30px 0px;
}

.servicos-salao {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-bottom: 100px;
  justify-content: space-between;
}

.servicos-salao .servico {
  height: 215px;
  width: 700px;
  border: #e0e4e8 1px solid;
  border-radius: 20px;
  padding: 30px 30px 30px 30px;
  margin-top: 45px;
}

.servicos-salao .servico .descricao {
  padding: 8px 0px 20px 0px;
}

.servicos-salao .servico .preco-botao {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.servicos-salao .servico .preco-botao .preco {
  display: flex;
  align-items: center;
}

.servicos-salao .servico .preco-botao .preco p{
  padding-right: 5px;
}

.servicos-salao .servico .botao {
  background-color: #ecc0c3;
  border-radius: 20px;
  height: 35px;
  width: 120px;
  text-align: center;
  font-weight: bold;
}

.servicos-salao .servico .botao:hover {
  border: solid 2px #eba4a9;
}


.invisivel {
  opacity: 0;
}



/*Imagens vao ficar em cinza após escolha do profissional: por no ts
const button = document.querySelector("button");
button.addEventListener("click", (event) => {
  button.textContent = `Click count: ${event.detail}`;
});*/
