<main>
  <section>
    <div class="sobre-salao">
      <div class="nome-salao">
        <img
          class="donna"
          src="assets/img/agendamento/marca.png"
          width="180"
          alt="Donna"
        />
        <h1>Donna Salão</h1>
      </div>

      <h2>Sobre o Donna Salão</h2>
      <p>
        Não trabalhamos com agendamento telefônico, somente com agendamento
        online pelo site. Dúvidas sobre serviços e atendimento, direcionar as
        mensagens via e-mail, telefone ou formulário do site.
      </p>

      <h2>Endereço Donna Salão</h2>
      <div class="localizacao">
        <img src="assets/img/agendamento/localizacao.png" width="30" />
        <p>Rua Pedroso Alvarenga, 55012, Itaim Bibi, São Paulo - SP</p>
      </div>

      <h2>Horários de funcionamento</h2>
      <div class="funcionamento">
        <div class="func-dia" *ngFor="let item of horarios">
          <div class="func-hoje">
            <img
              *ngIf="diaAtual(item.dia)"
              src="assets/img/agendamento/calendario.png"
              width="30"
            />
            <p *ngIf="diaAtual(item.dia)">Hoje</p>
          </div>
          <!-- para deixar em negrito usar condição do ngClass pesquisar no google, e subir ou descer com as datas é um componente bootstrap-->
          <div class="func-dia-semana">
            <p>{{ item.dia }}</p>
            <p>{{ item.horario }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div *ngFor="let funcionario of funcionarios">
    <section class="equipe-foto">
      <div class="equipe">
        <h2>Serviços oferecidos</h2>
        <p class="texto-equipe">
          Confira tudo que o Donna tem para você, clique no profissional
          desejado:
        </p>
      </div>
      <app-profissionais
        foto="{{funcionario.foto}}"
        nome="{{funcionario.nome}}"
        especialidade="{{funcionario.especialidade}}"
      ></app-profissionais>
    </section>

    <section>
      <div class="servicos-salao">
        <div *ngFor="let servico of funcionario.servicos">
          <div class="servico">
            <h4>{{servico.titulo}}</h4>
            <p class="descricao">{{servico.descricao}}</p>
            <div class="preco-botao">
              <div class="preco">
                <p>{{servico.especifica_preco}}</p>
                <h5>{{servico.preco}}</h5>
              </div>
              <button class="botao">Agendar</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
