<footer>
  <div class="footer-container">
    <div>
      <img
        src="assets/img/home/marca-pb.png"
        width="160"
        height="30"
        alt="Donna"
      />
    </div>

    <ul>
      <li><h3>Contato</h3></li>
      <li><p>(11)4000-0000</p></li>
      <li><p>(11)90000-0000</p></li>
      <li><a href="mailto: atendimento@donna.com.br">atendimento@donna.com.br</a></li>
      <li><p>Rua Pedroso Alvarenga, 55012</p></li>
      <li><p>Itaim Bibi,  São Paulo - SP, 4531012</p></li>
      <li><p>Manobrista no local</p></li>
    </ul>

    <ul>
      <li><h3>Serviços</h3></li>
      <li><a href="">Procedimentos Capilares</a></li>
      <li><a href="">Dia da Noiva</a></li>
      <li><a href="">Manicure e Pedicure</a></li>
      <li><a href="">Maquiagem</a></li>
      <li><a href="">Sobrancelha</a></li>
      <li><a href="">Programa de Fidelidade</a></li>
    </ul>

    <ul>
      <li><h3>Menu</h3></li>
      <li><a routerLink="home">Home</a></li>
      <li><a routerLink="sobre">Sobre Nós</a></li>
      <li><a routerLink="servicos">Serviços</a></li>
      <li><a routerLink="agendamento">Agendamento</a></li>
      <li><a routerLink="contato">Contato</a></li>
      <li><a routerLink="login">Login</a></li>
    </ul>
  </div>
  <p class="p-footer">Donna © 2023 - Desenvolvido por Kelly Vasconcellos</p>
</footer>
